<div class="title">
<h1> All Songs </h1>
</div>
</br>

<% @songs.each do |song| %>
<div class="list-items">
  <ul>
    <div>
    <li><h2><%= song.artist.name %></h2></li>
   <li><h3><%=song.title %></h3></li>
   <li><p>Plays: <%=song.play_count%></p></li>
  </div>
  </ul>
</div>
<%end%>
